/* Header */

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

/* Articles */

.article-page > ul {
  list-style: none;
  padding: 0;
}

/* ArticlePreview */

.article-preview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

.article-preview__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Comments */

.comments ul {
  list-style: none;
  padding: 0;
}

/* Comment */

.comment-details {
  display: flex;
  justify-content: space-between;
}